<fieldset class="text-center">
    <div class="row">
        <div style=" text-align: center; background-image:none ">
            <div>

                <h3>Thank you for uploading your files</h3>

                <h3>Click Finish to start the tutorial.</h3>

            </div>
        </div>
    </div>
    <br />
    <a data-ui-sref="welcome.wizard.step_two" class="btn btn-default">Previous</a>
    <button type="submit"  data-ui-sref="teacher.dashboard" class="btn btn-primary">Submit</button>
</fieldset>
