<fieldset class="text-center">
       <div class="row">
        <div >
            <div id="uploadMessage" style=" text-align: center; background-image:none;  color: #182538">
                <div >
                    <h3> We know how valuable your time is. To avoid you having to  print copies of </h3>
                    <h3> any homework sheet you ever re-assign to your students, let's first upload </h3>
                    <h3> all your files. We will do the printing duty for you.</h3>
                </div>
            </div>
            <div style="display: block;">
             <div data-ng-submit="submitSingleFile()" novalidate class="dropzone" id="dropZone" dropzone="dropzoneConfig">
                            <div class="fallback">
                                <input data-file-model="myFile[0]" name="file" type="file" />
                                <input type="submit" value="Upload" />
                            </div>
            </div>
                
            </div>
           
  

        </div> 
    </div>
    <br />
    <a data-ui-sref="welcome.wizard.step_one" class="btn btn-default">Previous</a>
    <a data-ui-sref="welcome.wizard.step_three" class="btn btn-primary">Next</a>
</fieldset>