<fieldset class="text-center">
    <div class="row">
        <div style=" text-align: center; color: #182538">
            <div >
                <h1 class="text-capitalize">Welcome to Argus powered by Newstein Systems . </h1>

            </div>
            <div >
                <h3 class="size-h2">You Must be <span class="bg-primary">Ms. Marquez</span>, we've heard great things about you. </h3>

                <h3 class="size-h2">Thank you for joining the educational revolution, lets get started.</h3>
            </div>
        </div>
    </div>
    <br />
    <a data-ui-sref="welcome.wizard.step_two" class="btn btn-primary">Next</a>
</fieldset>