<section class="wrapper wrapper-content animated fadeInRight" >
    <div class="panel panel-default">
        <h2 style="text-align:center"> Hello <span class="bg-primary">{{currentUser.FirstName + ' ' + currentUser.LastName}}</span>, This is the Attendance Rosters</h2>

        <div class="panel-body">
			<div class="row">

				<div class="col-lg-3 col-sm-6">
					<div class="btn btn-primary block widget " data-ng-click="changeList('oroom')"
						 data-ui-sref-active='active' data-ui-sref="admin1.attendanceRosters.oroom"
						 >

						<div class="row">
							<div class="col-xs-4">
								<i class="fa fa-group fa-5x"></i>
							</div>
							<div class="col-xs-8 text-right">
								<span> O-Room </span>

								<h2 class="font-bold">{{count.oroom}}</h2>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6" >
					<div class="btn btn-info block widget" data-ng-click="changeList('lunch')"
						 data-ui-sref-active='active' data-ui-sref="admin1.attendanceRosters.lunchDetention"
						 >

						<div class="row">
							<div class="col-xs-4">
								<i class="fa fa-cutlery fa-5x"></i>
							</div>
							<div class="col-xs-8 text-right">
								<span> Lunch Detention </span>

								<h2 class="font-bold">{{count.lunch}}</h2>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="btn btn-primary block widget" data-ng-click="changeList('iss')"
						 data-ui-sref-active='active' data-ui-sref="admin1.attendanceRosters.iss"
						 >

						<div class="row">
							<div class="col-xs-4">
								<i class="fa fa-building fa-5x"></i>
							</div>
							<div class="col-xs-8 text-right">
								<span>  ISS </span>

								<h2 class="font-bold">{{count.iss}}</h2>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="btn btn-info block widget" data-ng-click="changeList('oss')"
						 data-ui-sref-active='active' data-ui-sref="admin1.attendanceRosters.oss"
						 >

						<div class="row">
							<div class="col-xs-4">
								<i class="fa fa-hand-o-right fa-5x"></i>
							</div>
							<div class="col-xs-8 text-right">
								<span> OSS </span>

								<h2 class="font-bold">{{count.oss}}</h2>
							</div>
						</div>
					</div>
				</div>

			</div>
			
<!--			
			<div class="row" data-ng-show="currentList == 'oroom'"> 
				
				<div class="col-sm-12">
					<div class="text-center">
						<h3>Today's {{currentDate}} |  O-Room List</h3>
					</div>
					<table id="refTable" class="footable table table-bordered toggle-arrow-tiny table-hover" data-page-size="8">
						<thead>
							<tr>
								<th data-toggle="true">First Name</th>
								<th>Last Name</th>
								<th>ID</th>
								<th>Pending Days</th>
								<th>8th Period</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="item in refTable track  by $index" data-ng-dblclick="oRoomAttendance(item)">
								<td>{{item.user.FirstName}}</td>
								<td>{{item.user.LastName}}</td>
								<td>{{item.StudentId}}</td>
								<td>{{item.counters.pendingOroomDays}}</td>
								<td>{{item.eighthPeriod}}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="5">
									<ul class="pagination pull-right"></ul>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>

			<div class="row" data-ng-show="currentList == 'lunch'">
				<div class="col-sm-6"> 
					<div class="text-center">
						<h3> Lunch A</h3>
					</div>
					<table id="lunchA" class="footable table  table-bordered toggle-arrow-tiny table-hover" data-page-size="8" >
						<thead>
							<tr>
								<th data-toggle="true">First Name</th>
								<th>Last Name</th>
								<th>ID</th>
								<th>Attendance</th>
								<th >Progressions</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="item in lunchTableA track  by $index" data-ng-dblclick="lunchAttendance(item)">
								<td>{{item.user.FirstName}}</td>
								<td>{{item.user.LastName}}</td>
								<td>{{item.StudentId}}</td>
								<td>{{ item.attendance}}</td>
								<td>{{  item.progression}}</td>
								
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="5">
									<ul class="pagination pull-right"></ul>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
				<div class="col-sm-6">
					<div class="text-center">
						<h3> Lunch A</h3>
					</div>
					<table id="lunchB" class="footable table  table-bordered toggle-arrow-tiny table-hover" data-page-size="8" >
						<thead>
							<tr>
								<th data-toggle="true">First Name</th>
								<th>Last Name</th>
								<th>ID</th>
								<th>Attendance</th>
								<th >Progressions</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="item in lunchTableB track  by $index" data-page-size="8" data-ng-dblclick="lunchAttendance(item)">
								<td>{{item.user.FirstName}}</td>
								<td>{{item.user.LastName}}</td>
								<td>{{item.StudentId}}</td>
								<td>
									<div>
										{{ item.attendance}}
									</div>


								</td>
								<td>
									{{  item.progression}}
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="5">
									<ul class="pagination pull-right"></ul>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
			
			<div class="row" data-ng-show="currentList == 'iss'">
				<div class="col-sm-12"> 
					<div class="text-center">
						<h3> ISS</h3>
					</div>
					<table id="ISS" class="footable table table-stripped table-bordered toggle-arrow-tiny" data-page-size="8">
						<thead>
							<tr>
								<th data-toggle="true">First Name</th>
								<th>Last Name</th>
								<th>ID</th>
								<th>Attendance</th>
								<th>Progressions</th>
								<th>ISS Days</th>
								<th >O-Room Days</th>
								<th> Attendance</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="item in iss track  by $index">
								<td>{{item.user.FirstName}}</td>
								<td>{{item.user.LastName}}</td>
								<td>{{item.StudentId}}</td>
								<td>{{ item.attendance }}</td>
								<td>{{  item.progression}}</td>
								<td>{{item.issDays}}</td>
								<td>{{item.oroomDays}}</td>
								<td>
									<div>
										<select chosen
											width="'100%'"	 
											class="chosen-select form-control"
											data-placeholder="Select Attendance"
											data-ng-model="item.activity" 
											allow-single-deselect="true"
											data-ng-change="onActivitySelected(item, '{{item.activity}}')"
											data-ng-options="a as (a.name) for a in activities track by a.value">
										<option value=''></option>

									</select>
									</div>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="7">
									<ul class="pagination pull-right"></ul>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
			
			<div class="row" data-ng-show="currentList == 'oss'">
				<div class="col-sm-12"> 
					<div class="text-center">
						<h3> OSS</h3>
					</div>
					<table id="OSS" class="footable table table-stripped table-bordered toggle-arrow-tiny" data-page-size="8">
						<thead>
							<tr>
								<th data-toggle="true">First Name</th>
								<th>Last Name</th>
								<th>ID</th>
								<th >Cycles</th>
								<th>ISS Days</th>
								<th>O-Room Days</th>
								<th>Parent Meeting Date</th>
								<th>Staff</th>
								<th> Attendance</th>
								
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="item in oss track  by $index">
								<td>{{item.user.FirstName}}</td>
								<td>{{item.user.LastName}}</td>
								<td>{{item.StudentId}}</td>
								<td>{{item.cycles}}</td>
								<td>{{item.issDays}}</td>
								<td>{{item.oroomDays}}</td>
								<td>{{item.PMDate}}</td>
								<td>{{item.staff}}</td>
								<td>
									<div>
										<select chosen
											width="'100%'"	 
											class="chosen-select form-control"
											data-placeholder="Select Attendance"
											data-ng-model="item.activity" 
											allow-single-deselect="true"
											data-ng-change="onActivitySelected(item, '{{item.activity}}')"
											data-ng-options="a as (a.name) for a in activities track by a.value">
										<option value=''></option>

									</select>
									</div>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="7">
									<ul class="pagination pull-right"></ul>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>-->
			
			<div data-ui-view></div>
		
		</div>
    </div>


</section>

<style>

	#refTable1 tr td{
		vertical-align: middle;
	}
</style>