<section class="wrapper wrapper-content animated fadeInRight" >
    <div class="panel panel-default">
        <h2 style="text-align:center"> Hello <span class="bg-primary">{{currentUser.FirstName + ' ' + currentUser.LastName}}</span>, This is all the program activity</h2>
		<h1 class="col-sm-6 col-sm-offset-4 "  style="font-weight:900; font-size: 500%">Time: {{currentTime}} </h1> 
        <div class="panel-body">
			<div class="row">

				<div class="col-lg-3">
					<div class="btn btn-primary block widget " data-ui-sref-active='active' data-ui-sref="supportstaff.oroomActivitiLog.oroom">

						<div class="row">
							<div class="col-xs-4">
								<i class="fa fa-group fa-5x"></i>
							</div>
							<div class="col-xs-8 text-right">
								<span> O-Room </span>

								<h2 class="font-bold">{{studentsToday}}</h2>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="btn btn-info block widget" data-ui-sref-active='active' data-ui-sref="supportstaff.oroomActivitiLog.lunchDetention">

						<div class="row">
							<div class="col-xs-4">
								<i class="fa fa-cutlery fa-5x"></i>
							</div>
							<div class="col-xs-8 text-right">
								<span> Lunch Detention </span>

								<h2 class="font-bold">{{followUp}}</h2>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="btn btn-primary block widget" data-ui-sref-active='active' data-ui-sref="supportstaff.oroomActivitiLog.iss">

						<div class="row">
							<div class="col-xs-4">
								<i class="fa fa-building fa-5x"></i>
							</div>
							<div class="col-xs-8 text-right">
								<span>  ISS </span>

								<h2 class="font-bold">{{averageAttendance}}</h2>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="btn btn-info block widget" data-ui-sref-active='active' data-ui-sref="supportstaff.oroomActivitiLog.oss">

						<div class="row">
							<div class="col-xs-4">
								<i class="fa fa-hand-o-right fa-5x"></i>
							</div>
							<div class="col-xs-8 text-right">
								<span> OSS </span>

								<h2 class="font-bold">{{averageAttendance}}</h2>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div data-ui-view></div>
        </div>


    </div>


</section>

<style>

	#refTable1 tr td{
		vertical-align: middle;
	}
</style>