<section class="wrapper wrapper-content animated fadeInRight">
    <div class="panel panel-default">
        <h2 style="text-align:center"> Hello <span class="bg-primary">{{currentUser.FirstName + ' ' + currentUser.LastName}}</span>,
            lets create references!</h2>

        <div class="panel-body">


            <div class="row">
                <div class="col-sm-12">
                    <form name="form" class="text-center ">
                        <label>Select Date for Referrals</label>
                                <span class="input-group date col-md-4 col-sm-12" style="margin:0 auto">
                                    <input type="datetime" class="form-control" date-time ng-model="currentDate"
                                           name="date"
                                           view="date" min-view="date" auto-close="true" format="MMM DD YYYY">
                                    <span class="input-group-addon btn"><i class="fa fa-calendar"></i></span>

                                </span>
                    </form>
                </div>
            </div>
            <br/>
            <div class="row text-center">

                <div class="col-sm-8 col-sm-offset-2 ">
                    <select chosen
                            width="'100%'"
                            class=" chosen-select form-control"
                            allow-single-deselect="true"
                            data-ng-if='schoolStudents'
                            data-placeholder="Select or enter a student"
                            data-ng-model="selected.student"
                            data-ng-options="s as
										(s.user.FirstName +' '+s.user.LastName+' '+s.StudentId+' '+s.Grade )
										for s in schoolStudents track by s.Id "
                    >
                        <option value=''></option>
                    </select>
                    <select
                            multiple chosen
                            class="chosen-select form-control"
                            data-ng-if="!schoolStudents"
                            data-placeholder="Loading Students">
                    </select>
                </div>
            </div>
            <br/>
            <div class="text-center">
                <ul class="list-group list-inline ">
                    <li style="width:15%;">
                        <button style="width:100%;" type="button" class="btn  btn-primary"
                                data-ng-click="assignLunch()"
                                data-ng-disabled="!selected.student">Lunch Detention
                        </button>
                    </li>

                    <li style="width:15%;">
                        <button style="width:100%;" type="button" class="btn  btn-primary"
                                data-ng-click="assignORoom()"
                                data-ng-disabled="!selected.student">O-Room
                        </button>
                    </li>
                    <li style="width:15%;">
                        <button style="width:100%;" type="button" class="btn  btn-primary"
                                data-ng-click="assignISS()"
                                data-ng-disabled="!selected.student">ISS
                        </button>
                    </li>
                    <li style="width:15%;" data-ng-show="showFeature()">
                        <button style="width:100%;" type="button" class="btn  btn-primary"
                                data-ng-click="changeAndComment()"
                                data-ng-disabled="!selected.student">Change & Comment
                        </button>
                    </li>
                    <li style="width:15%;" >
                        <button style="width:100%;" type="button" class="btn  btn-primary"
                                data-ng-click="clear()"
                                data-ng-disabled="!selected.student"> Clear
                        </button>
                    </li>

                </ul>
            </div>


        </div>
    </div>
</section>
