<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div >
			<img style='padding-right: 80px' alt='Estacado High School' src='images/estacado_logo.png' width='350' height='350' >
            <!--<h1 class="logo-name">IN+</h1>-->
        </div>
        <h3>Welcome to Argus</h3>
        <p>Manage your school here
        </p>
        <p>Login in. To see it in action.</p>
        <form data-ng-submit="auth.login()"class="m-t" role="form" action="#">
            <div class="form-group">
                <input type="email" name='Email' class="form-control" placeholder="Email" data-ng-model="auth.email" required="">
            </div>
            <div class="form-group">
                <input type="password" name='Password' class="form-control" placeholder="Password" data-ng-model="auth.password" required="">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" >Login</button>

            <a data-ui-sref="forgot_password"><small>Forgot password?</small></a>
<!--            <p class="text-muted text-center"><small>Do not have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" ui-sref="register">Create an account</a>-->
        </form>
        <p class="m-t"> <small>Newstein Systems  &copy; 2015</small> </p>
    </div>
</div>