<br>
<div>
    <table class="table text-center">
        <tr>
            <th colspan="4">Type:</th>

        </tr>
        <tr>
            <th>Referred Date:</th>
            <td></td>
            <th>Referred By:</th>
            <td></td>
        </tr>
        <tr>
            <th>Assignments</th>
            <td colspan="3"></td>
        </tr>
        <tr>
            <th>Documented By:</th>
            <td class="table text-left">{{selected.user.FirstName + " " + selected.user.LastName}}</td>
            <th>To Serve On:</th>
            <td class="table text-left">{{selected.Date.split(' ')[0] | date:'EEE, MMM d'}}</td>
        </tr>
        <tr>
            <th>Action:</th>
            <td></td>
            <th>Progression:</th>
            <td></td>
        </tr>
        <tr>
            <th colspan="4">Action Detail:</th>
        </tr>
        <tr></tr>
    </table>
</div>
<style>
.table td, .table th {
text-align: center;  }
</style>
<!--        <tr>
                <th>Status</th>
                <td colspan="4" style="text-align:left">
                    <label class="btn btn-primary  ng-valid" ng-model="activity.parentNotified" btn-checkbox=""> <i class="fa fa-home"></i></label>
                    <label class="btn btn-primary ng-pristine ng-untouched ng-valid" ng-model="activity.studentNotified" btn-checkbox=""><i class="fa fa-user"></i></label>
                    <label class="btn btn-primary ng-pristine ng-untouched ng-valid" ng-model="activity.finished" btn-checkbox=""><i class="fa fa-check"></i></label>
                </td>
            </tr>-->