<br>
<div>
    <table class="table">
        <tr>
            <th colspan="4">{{selected.referral_type.Name}}</th>
        </tr>
        <tr>
            <th class="text-right">Referred Date:</th>
            <td class="text-left"></td>
        </tr>
        <tr>
            <th class="text-right">Tardy Period:</th>
            <td class="text-left"></td>
        </tr>
        <tr>
            <th class="text-right">Documented By:</th>
            <td class="text-left">{{selected.user.FirstName + " " + selected.user.LastName}}</td>
        </tr>
        <tr>
            <th class="text-right">To Serve On:</th>
            <td class="text-left">{{selected.Date.split(' ')[0] | date:'EEE, MMM d'}}</td>
        </tr>
        <tr>
            <th class="text-right">Attendance:</th>
            <td class="text-left">{{selected.activity.Name}}</td>
        </tr>
        <tr>
            <th class="text-right">Progression:</th>
            <td class="text-left">{{selected.consequence.referral_type.Name}}</td>
        </tr>
        <tr>
            <th colspan="4">Action Detail:</th>
        </tr>
        <tr></tr>
    </table>
</div>
<style>
.table td, .table th {
text-align: center;  }
</style>
<!--        <tr>
                <th>Status</th>
                <td colspan="4" style="text-align:left">
                    <label class="btn btn-primary  ng-valid" ng-model="activity.parentNotified" btn-checkbox=""> <i class="fa fa-home"></i></label>
                    <label class="btn btn-primary ng-pristine ng-untouched ng-valid" ng-model="activity.studentNotified" btn-checkbox=""><i class="fa fa-user"></i></label>
                    <label class="btn btn-primary ng-pristine ng-untouched ng-valid" ng-model="activity.finished" btn-checkbox=""><i class="fa fa-check"></i></label>
                </td>
            </tr>-->