<div class="wrapper wrapper-content animated fadeInRight">
    <table class="table table-dynamic tab">
        <tr>
            <th>Date:</th>
            <td style="text-align:left;">   <p>2015-01-15</p></td>


            <th>staff:</th>

            <td> adrian</td>

        </tr>
        <tr>
            <th>
                Comment:
            </th>
            <td colspan="4" style="text-align:left;">
                <p>
                    Pretty powerful tooltips. The second generation of the advanced
                    qTip plugin for the ever popular jQuery framework.
                </p>
            </td>
        </tr>
    </table>

</div>