<section class="wrapper wrapper-content animated fadeInRight" data-ng-controller="ProfileCtrl" style="">

    <div class="left" style="float:left;width:49% ">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="widget-head-color-box bg-primary p-lg text-center">
                    <div class="m-b-md">
                        <h2 class="font-bold no-margins">
                            {{student.user.FirstName + " " + student.user.LastName}}
                        </h2>
                        <small>class of {{graduationYear}}</small>
                    </div>
                    <!-- <img src="images/bran.jpeg" class="img-circle circle-border m-b-md" alt="profile"> -->
                    <i class="fa fa-user fa-5x"></i>
                    <div>
                        <span>ID {{student.StudentId}}</span> |
                        <span>Grade Level {{student.Grade}}</span> |
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><span class="glyphicon glyphicon-th"></span> Today:</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="btn-group text-center">
                    <button data-ng-repeat="button in student.buttons" type="button" class="btn {{button.color}}"
                            style="margin-right: 5px" popover-placement="top" popover="{{button.description}}"
                            popover-trigger="mouseenter" popover-append-to-body="false">
                        {{button.name}}
                    </button>
                </div>
            </div>
        </div>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><span class="glyphicon glyphicon-th"></span> Student Information</h5>
                <div ibox-tools></div>

            </div>
            <div class="ibox-content">
                <div class="tabs-container">
                    <tabset>
                        <tab>
                            <tab-heading>
                                <!--<i class="fa fa-dashcube "></i>-->
                                Schedule
                            </tab-heading>
                            <table class=" table table-striped table-bordered table-responsive">
                                <tr>
                                    <th class="text-center">Period</th>
                                    <th class="text-center">Class Name</th>
                                    <th class="text-center">Teacher</th>
                                    <th class="text-center">Room</th>
                                </tr>
                                <!-- Data -->
                                <tr class="text-center" data-ng-repeat="class in schedule"
                                    data-ng-dblclick="enableClassEdit($index,schedule)">
                                    <td data-ng-hide="class.editing">{{class.professor_class.PeriodId}}</td>
                                    <!--<td> {{$index + 1}} </td>-->
                                    <td data-ng-hide="class.editing">{{class.professor_class.classs.Name}}</td>
                                    <td data-ng-hide="class.editing">{{class.professor_class.user.FirstName + ', ' +
                                        class.professor_class.user.LastName}}
                                    </td>
                                    <td data-ng-hide="class.editing">{{class.professor_class.room.Name}}</td>
                                    <td data-ng-if="class.editing" colspan="3">
                                        <select chosen
                                                width=" '100%'"
                                                class="chosen-select form-control"
                                                data-placeholder="Select Class"
                                                split_word_search='true'
                                                data-ng-classes="classes"
                                                data-ng-model="student.ProfessorClass"
                                                allow-single-deselect="true"
                                                enable_split_word_search='true'
                                                data-ng-options="a as (a.period.Number+': '+a.classs.Name+' - '+a.user.FirstName+', '+a.user.LastName+' - '+a.room.Name ) for a in classes track by a.Id">
                                            <option value=''></option>

                                        </select>
                                    </td>
                                    <td data-ng-if="class.editing"><i class="fa fa-check" style="margin-right: 5px"
                                                                      data-ng-click="submitClassChange($index,schedule)"></i>
                                        <i class='fa fa-times' data-ng-click="cancelClassChange($index,schedule)"></i>
                                    </td>
                                </tr>
                            </table>
                        </tab>
                        <tab>
                            <tab-heading>
                                <!--<i class="fa fa-mobile "></i>-->
                                Parent Contact
                            </tab-heading>
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <th>Name</th>
                                    <th>phone</th>
                                    <th>mphone</th>
                                </tr>

                                <tr data-ng-hide="student.contactEdit" data-ng-dblclick="enableContactEdit()">
                                    <td>{{student.GuardianName}}</td>
                                    <td>{{student.GuardianPhone}}</td>
                                    <td>{{student.GuardianMPhone}}</td>
                                </tr>
                                <tr data-ng-if='student.contactEdit'>
                                    <td>
                                        <input type="text" class="form-control"
                                               data-ng-model="student.GuardianNameCopy"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"
                                               data-ng-model="student.GuardianPhoneCopy"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"
                                               data-ng-model="student.GuardianMPhoneCopy"/>
                                    </td>
                                    <td><i class="fa fa-check" style="margin-right: 5px"
                                           data-ng-click="submitContactChange()"></i>
                                        <i class='fa fa-times' data-ng-click="cancelContactChange()"></i></td>
                                </tr>
                            </table>
                        </tab>
                        <tab>
                            <tab-heading>
                                <!--<i class="fa fa-ticket "></i>-->
                                Status
                            </tab-heading>
                            <!--data-ng-disabled="active==max"-->
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <th class="text-center" colspan="2">Exemptions</th>
                                </tr>
                                <tr>
                                    <td>O-Room</td>
                                    <td>
                                        <div>
                                            <div class="switch">
                                                <div class="onoffswitch">
                                                    <input type="checkbox" checked class="onoffswitch-checkbox"
                                                           id="example1">
                                                    <label class="onoffswitch-label" for="example1">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>AEC</td>
                                    <td>
                                        <div>
                                            <div class="switch">
                                                <div class="onoffswitch">
                                                    <input type="checkbox" checked class="onoffswitch-checkbox"
                                                           id="example2">
                                                    <label class="onoffswitch-label" for="example2">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ISS</td>
                                    <td>
                                        <div>
                                            <div class="switch">
                                                <div class="onoffswitch">
                                                    <input type="checkbox" checked class="onoffswitch-checkbox"
                                                           id="example3">
                                                    <label class="onoffswitch-label" for="example3">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Re-Teach</td>
                                    <td>
                                        <div>
                                            <div class="switch">
                                                <div class="onoffswitch">
                                                    <input type="checkbox" checked class="onoffswitch-checkbox"
                                                           id="example4">
                                                    <label class="onoffswitch-label" for="example4">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Lunch Detention</td>
                                    <td>
                                        <div>
                                            <div class="switch">
                                                <div class="onoffswitch">
                                                    <input type="checkbox" checked class="onoffswitch-checkbox"
                                                           id="example5">
                                                    <label class="onoffswitch-label" for="example5">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <br><br>
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <th class="text-center" colspan="2"> School Enrollment</th>
                                </tr>
                                <tr>
                                    <td>Withdrawn</td>
                                    <td>
                                        <div>
                                            <div class="switch">
                                                <div class="onoffswitch">
                                                    <input type="checkbox" checked class="onoffswitch-checkbox"
                                                           id="example6">
                                                    <label class="onoffswitch-label" for="example6">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </tab>
                    </tabset>
                </div>


            </div>
        </div>
    </div>


    <div class="right" style="float:right; width:49%">
        <!-- Date Specific Activity -->
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><span class="glyphicon glyphicon-th"></span> Date Specific Activity </h5>
                <div ibox-tools></div>

            </div>
            <div class="ibox-content">
                <div class="filters">
                    <form role="form" name="form">
                        <div class="form-group text-center" id="data_1">
                            <label class="font-noraml">Select a date</label>
                            <div class="input-group date col-md-6 col-sm-12" style="margin:0 auto">
                                <input type="datetime" class="form-control" date-time ng-model="currentDate" name="date"
                                       view="date" min-view="date" auto-close="true" format="MMM DD YYYY">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </form>
                    <br>
                    <div class="text-center">
                        <button class="btn btn-primary" data-ng-click="downloadActivity()"> Download Activity</button>
                    </div>
                    <br>
                    <div class="text-center">
                        <form role="form">
                            <div class="btn-group text-center" >
                                <label class="btn btn-default Ldetention" style="margin-right: 5px" ng-model="filter['LDT']" btn-checkbox="">
                                    LDT
                                </label>
                                <label class="btn btn-default O-Room" style="margin-right: 5px" ng-model="filter['ORM']" btn-checkbox="">
                                    ORM
                                </label>
                                <label class="btn btn-default ISS" style="margin-right: 5px" ng-model="filter['ISS']" btn-checkbox="">
                                    ISS
                                </label>
                                <label class="btn btn-default OSS" style="margin-right: 5px" ng-model="filter['OSS']" btn-checkbox="">
                                    OSS
                                </label>
                                <label class="btn btn-default AEC" style="margin-right: 5px" ng-model="filter['AEC']" btn-checkbox="">
                                    AEC
                                </label>
                                <label class="btn btn-default Re-Teach" style="margin-right: 5px" ng-model="filter['RET']" btn-checkbox="">
                                    RET
                                </label>
                            </div>
                            <!--<div class="btn-group">
                                <label data-ng-repeat="act in getActivities()"
                                       class="btn btn-default ng-pristine ng-untouched ng-valid"
                                       ng-model="filter[act]" btn-checkbox="">
                                    {{act}}
                                    &lt;!&ndash;<i data-ng-show="filter[act]"class="badge">
                                         {{activities.length}}</i>&ndash;&gt;
                                </label>

                            </div>-->

                        </form>
                    </div>
                </div>

                <table class="table table-striped table-bordered" id="dateSpecificActivity" data-ng-hide="showDetail">
                    <thead>
                    <tr>
                        <th class="text-center"> Date</th>
                        <th class="text-center">Activity</th>
                        <!--<th> Status</th>-->
                    </tr>
                    </thead>
                </table>

                <div style="height: 300px;overflow-y: auto;">
                    <table class="table table-striped table-bordered" id="dateSpecificActivity"
                           data-ng-hide="showDetail">
                        <tbody>
                        <tr class="text-center" data-ng-repeat="activity in filtered = (activities | filter:filterByCategory)"
                            data-ng-click="toggleShowDetail($index)">
                            <td>{{activity.ActionDate.split(' ')[0]}}</td>
                            <td>{{activity.activity.Name}}</td>
                            <!--                                <td>
                                                                <label class="btn btn-primary  ng-valid" ng-model="activity.parentNotified" btn-checkbox=""> <i class="fa fa-home"></i></label>
                                                                <label class="btn btn-primary ng-pristine ng-untouched ng-valid" ng-model="activity.studentNotified" btn-checkbox=""><i class="fa fa-user"></i></label>
                                                                <label class="btn btn-primary ng-pristine ng-untouched ng-valid" ng-model="activity.finished" btn-checkbox=""><i class="fa fa-check"></i></label>

                                                            </td>-->
                        </tr>
                        </tbody>
                    </table>
                    <div id="activityContainer" data-ng-show="showDetail" data-ng-click="toggleShowDetail()">
                        <span data-ng-include=" 'views/otherItems/sampleActivityDetail.html'">
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Comments -->
        <!--
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><span class="glyphicon glyphicon-th"></span> Comments</h5>
                <div ibox-tools></div>

            </div>
            <div class="ibox-content">
                <table class="table table-striped table-bordered" id="comments " data-ng-hide="showComment">
                    <thead>
                    <tr>
                        <th> Date</th>
                        <th> Comment</th>
                        <th> staff</th>

                    </tr>
                    </thead>
                </table>

                <div style="height: 300px;overflow-y: auto;">

                    <table class="table table-striped table-bordered" id="comments " data-ng-hide="showComment">
                        <tbody>
                        <tr ng-repeat="com in  filtered = (activities| filter:filterByCategory)"
                            data-ng-click="toggleShowComment($index)"
                            class="warning"
                            close="closeAlert($index)">
                            <td> {{com.ActionDate.split(' ')[0]}}</td>
                            <td>{{com.Comment}}</td>
                            <td> {{com.user.FirstName + ', ' + com.user.LastName}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <div id="commentContainer" data-ng-show="showComment" data-ng-click="toggleShowComment()">
                        <span data-ng-include=" 'views/otherItems/sampleActivityDetail.html'">
                        </span>
                    </div>
                </div>
                <div class="form-group">

                    <div class="row">
                        <form class="col-sm-8">
							<textarea style="float:left;" id="addComment" type="text"
                                      placeholder="Student"
                                      class="form-control auto-resize"
                                      data-ng-model="comment"
                                      data-ng-keyup="search()"></textarea>
                        </form>
                        <button class='btn profilebtn col-sm-4 btn-lg' data-ng-click="addComment()">Add</button>
                    </div>


                </div>
            </div>
        </div>-->

    </div>


</section>
<style>
    .AEC {
        opacity: .4;
        background-color: #6A267F;
        border-color: #6A267F;
        color: #FFFFFF;
    }
    .AEC:hover, .AEC.btn-default.active {
        opacity: 1 ;
        background-color: #6A267F;
        border-color: #6A267F;
        color: #FFFFFF;
    }

    .O-Room {
        opacity:.4;
        background-color: #003883;
        border-color: #003883;
        color: #FFFFFF;
    }
     .O-Room:hover, .O-Room.btn-default.active {
        opacity: 1 ;
        background-color: #003883;
        border-color: #003883;
        color: #FFFFFF;
    }

    .Re-Teach {
        opacity: .4;
        background-color: #9C00CC;
        border-color: #9C00CC;
        color: #FFFFFF;
    }

    .Re-Teach:hover, .Re-Teach.btn-default.active {
        opacity: 1 ;
        background-color: #9C00CC;
        border-color: #9C00CC;
        color: #FFFFFF;
    }

    .Ldetention {
        opacity: .4;
        background-color: #F5540E;
        border-color: #F5540E;
        color: #FFFFFF;
    }
    .Ldetention:hover, .Ldetention.btn-default.active {
        opacity: 1 ;
        background-color: #F5540E;
        border-color: #F5540E;
        color: #FFFFFF;
    }


    .ISS {
        opacity: .4;
        background-color: #3072ab;
        border-color: #3072ab;
        color: #FFFFFF;
    }
    .ISS:hover, .ISS.btn-default.active {
        opacity: 1 ;
        background-color: #3072ab;
        border-color: #3072ab;
        color: #FFFFFF;
    }

    .OSS {
        opacity: .4;
        background-color: #5e89c1;
        border-color: #5e89c1;
        color: #FFFFFF;
    }

    .OSS:hover, .OSS.btn-default.active {
        opacity: 1 ;
        background-color: #5e89c1;
        border-color: #5e89c1;
        color: #FFFFFF;
    }

</style>
<style>
    .profilebtn {
        background-color: rgb(253, 215, 92);
    }

    .profilebtn:active {
        background-color: rgb(255, 120, 87);
    }

    .profilebtn:hover {
        background-color: rgb(16, 160, 72);
    }

</style>
