<div class="modal-header text-center">
	<button type="button" class="close" data-ng-click="$dismiss()">&times;</button>
	<h4 class="modal-title">Assignments for :  {{student.FirstName + ', ' +student.LastName}}</h4>
</div>
<div class="modal-body " >
	<div class='row'>
		<div class='col-sm-8 col-sm-offset-2'>
			<table class='table'>
				<thead>
					<tr>
						<th>Assignment Name</th>
						<th>Accept</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat='item in student.referred ' data-ng-show='item.RefferalStatus === 1' >
						<td>{{item.Name}}</td>
						<td>
							<input 
								type='checkbox'
								data-ng-model='item.Accepted'
								/>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class='btn btn-info' data-ng-click='$close({student:student})'>Save</button>
	<button class="btn " data-ng-click="$dismiss()">Dismiss</button>
</div>
