<div class="modal-header text-center">
    <button class="close" data-ng-click="$dismiss()">&times;</button>
    <h4 class="modal-title">Create New Assignment For - {{teacher.FirstName + ", " + teacher.LastName}}</h4>
</div>
<div class="modal-body">
    <div class="row text-left">
		<!--  data-ng-show="!presentClicked" -->
		<div class="form-group col-sm-8" >			
			<label  >  Assignment</label>
			<input class=" form-control" type="text" placeholder="Enter Assignment Name" data-ng-model="assignment" />
		</div>
		<select 
			multiple chosen
			class="chosen-select form-control"
			data-ng-if="teacherClasses.$resolved"
			data-placeholder="Select an assignment"
			data-ng-model="teacherClass"
			data-ng-options="class as (class.Name) for class in  techerClasses track by assign.Id">
			<option value=''></option>

		</select>
		<select 
			multiple chosen
			class="chosen-select form-control"
			data-ng-if="teacherClasses.$resolved"
			data-placeholder="Select a teacher first">
		</select>
    </div>
</div>
<div class="modal-footer">
    <button class="btn  btn-info" data-ng-click="$close({assignment: assignment})">Submit</button>
    <button class="btn " data-ng-click="$dismiss()">Cancel</button>
</div>