<div class="modal-header text-center">
    <button class="close" data-ng-click="$dismiss()">&times;</button>
    <h4 class="modal-title">Create New Assignment For - {{teacher.FirstName + ", " + teacher.LastName}}</h4>
</div>
<div class="modal-body">
    <div class="row text-left">
        <form role="form" class="col-lg-offset-3">
            <!--  data-ng-show="!presentClicked" -->
            <div class='checkbox' data-ng-repeat="assignment in student.referred" style="">
                <label> <input type="checkbox" data-ng-model="assignment.selected"> {{assignment.Name}} </label>
            </div>

        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn  bg-green" data-ng-click="$close({student:student})">Submit</button>
    <button class="btn btn-danger" data-ng-click="$dismiss()">Cancel</button>
</div>