
﻿<!--
    MODELS
    comment -> text inside comment box - $scope.comment
    student -> object of student, usually, full Name, ID, GR ... - $scope.student
-->

<div class="modal-header text-center">
    <button class="close" data-ng-click="$dismiss()">&times;</button>
    <h4 class="modal-title">O-Room Attendance - Name: {{student.user.FirstName + " " + student.user.LastName}} - ID:{{student.StudentId}}</h4>
</div>
<div class="modal-body ">
	
	<div class="row"> 
		<div class="col-sm-offset-2 col-sm-4">
			<label> Guardian Name : </label> {{student.GuardianName}}				
		</div>
		<div class="col-sm-4">
			<label> Guardian Phone : </label> {{student.GuardianPhone}}				
		</div>
	</div>
	<div class="row text-center">
		<div class="btn-group">
			<label class="btn btn-success" ng-model="student.radioModel" btn-radio="'24'" style="margin:5px">Present</label>
			<label class="btn btn-success " ng-model="student.radioModel" btn-radio="'25'" style="margin:5px">No Show</label>
			<label class="btn btn-success " ng-model="student.radioModel" btn-radio="'26'" style="margin:5px">Left School</label>
			<label class="btn btn-success " ng-model="student.radioModel" btn-radio="'27'" style="margin:5px">School Absent</label>
			<label class="btn btn-success " ng-model="student.radioModel" btn-radio="'28'" style="margin:5px">Sent Out</label>
			<label class="btn btn-success " ng-model="student.radioModel" btn-radio="'29'" style="margin:5px">Walked Out</label>
			<label class="btn btn-success " ng-model="student.radioModel" btn-radio="'30'" style="margin:5px"> Other</label>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<label> Referred By : </label> {{ student.referred[0].teacher.FirstName + ' ' + student.referred[0].teacher.LastName}}
		</div>
	</div>
	
	<div  data-ng-show="showAssignments">
		<h3 class='text-center'> Assignments </h3>
		<table class="table table-bordered">
			<thead>
				<tr>
				<th>Completed</th>
				<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<tr  data-ng-repeat="item in student.referred" data-ng-show="item.ReferralTypeId === 12">
					<td><input type="checkbox" data-ng-model="item.assignment.selected"></td>
					<td> <label>{{item.assignment.Name}}</label> </td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Date</th>
				<th>Ref. Type</th>
				<th>Teacher</th>
				
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="item in student.referred" class="{{$index==0?'bg-info':''}}">
				<td>{{item.Date.split(' ')[0]}}</td>
				<td>{{item.referral_type.Name}}</td>
				<td>{{item.teacher.FirstName}} , {{item.teacher.LastName}}</td>
			</tr>
		</tbody>
	</table>
	
	
	<br />
	<div class="form-group">
		<textarea id="addComment" type="text"
				  placeholder="Add Description And Comments Here"
				  class="form-control auto-resize"
				  data-ng-model="student.comment"
				  data-ng-keyup=""></textarea>
	</div>

</div>
<div class="modal-footer">
    <button class="btn  btn-info" 
			data-ng-click="$close()">Submit</button>
    <button class="btn" data-ng-click="$dismiss()">Cancel</button>
</div>