<!--
    MODELS
    comment -> text inside comment box - $scope.comment
    student -> object of student, usually, full Name, ID, GR ... - $scope.student
-->

<div class="modal-header text-center">
    <button class="close" data-ng-click="$dismiss()">&times;</button>
    <h4 class="modal-title">Lunch Attendance - Name: {{student.user.FirstName + " " + student.user.FirstName}} - ID:{{student.StudentId}}</h4>
</div>
<div class="modal-body ">
	<div class="row"> 
		<div class="col-sm-4 col-sm-offset-2">
			<label> Guardian Name : </label> {{student.GuardianName}}				
		</div>
		<div class="col-sm-4">
			<label> Guardian Phone : </label> {{student.GuardianPhone}}				
		</div>
	</div>
	<br />
	<div class="row text-center">
		<div class="btn-group">
			<label class="btn btn-success" ng-model="student.radioModel" btn-radio="'31'" style="margin:5px"> Present</label>
			<label class="btn btn-success " ng-model="student.radioModel" btn-radio="'32'" style="margin:5px"> No Show</label>
			<label class="btn btn-success " ng-model="student.radioModel" btn-radio="'33'"  style="margin:5px"> Left School</label>
			<label class="btn btn-success " ng-model="student.radioModel" btn-radio="'34'" style="margin:5px" > School Absent</label>
			<label class="btn btn-success " ng-model="student.radioModel" btn-radio="'35'" style="margin:5px"> Sent Out</label>
			<label class="btn btn-success " ng-model="student.radioModel" btn-radio="'36'" style="margin:5px"> Walked Out</label>
			<label class="btn btn-success " ng-model="student.radioModel" btn-radio="'37'" style="margin:5px"> Other</label>
		</div>
	</div> 
	<br />
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<label> Referred By : </label> {{ student.referred[0].user.FirstName + ' ' + student.referred[0].user.LastName}}
		</div>
	</div>

	<br />
	<div class="form-group">
		<textarea id="addComment" type="text"
				  placeholder="Add Description And Comments Here"
				  class="form-control auto-resize"
				  data-ng-model="student.comment"
				  data-ng-keyup=""></textarea>
	</div>

</div>
<div class="modal-footer">
    <button class="btn  btn-info" 
			data-ng-click="$close()">Submit</button>
    <button class="btn " data-ng-click="$dismiss()">Cancel</button>
</div>