<!--
    MODELS
    comment -> text inside comment box - $scope.comment
    student -> object of student, usually, full Name, ID, GR ... - $scope.student
-->

<div class="modal-header text-center">
    <button class="close" data-ng-click="$dismiss()">&times;</button>
    <h4 class="modal-title">O-Room Attendance - Name: {{student.user.FirstName + " " + student.user.LastName}} -
        ID:{{student.StudentId}}</h4>
</div>
<div class="modal-body ">

    <div class="row">
        <div class="col-sm-offset-2 col-sm-4">
            <label> Guardian Name : </label> {{student.GuardianName}}
        </div>
        <div class="col-sm-4">
            <label> Guardian Phone : </label> {{student.GuardianPhone}}
        </div>
    </div>
    <div class="row text-center">
        <div class="btn-group">
            <label class="btn btn-success" ng-model="student.ActivityTypeId" btn-radio="38"
                   style="margin:5px">Present</label>
            <label class="btn btn-success" ng-model="student.ActivityTypeId" btn-radio="39" style="margin:5px">No
                Show</label>
            <label class="btn btn-success" ng-model="student.ActivityTypeId" btn-radio="40" style="margin:5px">Left
                School</label>
            <label class="btn btn-success" ng-model="student.ActivityTypeId" btn-radio="41" style="margin:5px">School
                Absent</label>
            <label class="btn btn-success" ng-model="student.ActivityTypeId" btn-radio="42" style="margin:5px">Sent
                Out</label>
            <label class="btn btn-success" ng-model="student.ActivityTypeId" btn-radio="43" style="margin:5px">Walked
                Out</label>
            <label class="btn btn-success" ng-model="student.ActivityTypeId" btn-radio="87"
                   style="margin:5px">Clear</label>
            <label class="btn btn-success" ng-model="student.ActivityTypeId" btn-radio="91"
                   style="margin:5px">Other</label>

            <!--<label class="btn btn-success " ng-model="student.ActivityTypeId" btn-radio="45" style="margin:5px"> Other</label>-->
        </div>
    </div>
    <br/>
    <div data-ng-show="student.ActivityTypeId == 87" class="row">
        <h3 class='text-center col-sm-12'> ISS Debt Referrals </h3>
        <div class="text-center col-sm-12" data-ng-show="student.referred.length > 1 && !student.removingAll">
            <form name="form" role="form" class="form">
                <div class="form-group col-sm-6 col-sm-offset-3">
                    <label>Select a Date to Re-Schedule Pending Referrals</label>
                    <div class="input-group date" style="margin:0 auto">
                        <input type="datetime" class="form-control" date-time ng-model="date" name="date" view="date"
                               min-view="date" auto-close="true" format="MMM DD YYYY">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Remove?</th>
                    <th>Date</th>
                    <th>Ref. Type</th>
                    <th>Referred by</th>


                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="item in student.referred">
                    <td data-ng-click='onReferralRemove($index)'>
                        <label>
                            <input icheck type="checkbox" ng-model="item.remove" ng-click="selectedReferralToRemove()">
                        </label>
                    </td>
                    <td>{{item.created_at.split(' ')[0] | date:'longDate'}}</td>
                    <td>{{item.referral_type.Name}}</td>
                    <td>{{item.user.FirstName}} , {{item.user.LastName}}</td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <label> Referred By : </label> {{ student.referred[0].user.FirstName + ' ' +
            student.referred[0].user.LastName}}
        </div>
    </div>

    <br/>
    <div class="form-group">
		<textarea id="addComment" type="text"
                  placeholder="Add Description And Comments Here"
                  class="form-control auto-resize"
                  data-ng-model="student.comment"
                  data-ng-keyup=""></textarea>
    </div>

</div>
<div class="modal-footer">
    <button class="btn  btn-info"
            data-ng-click="$close()">Submit
    </button>
    <button class="btn " data-ng-click="$dismiss()">Cancel</button>
</div>