<section class="wrapper wrapper-content animated fadeInRight" >
    <div class="panel panel-default">
        <h2 style="text-align:center"> Hello <span class="bg-primary">{{currentUser.FirstName + ' ' + currentUser.LastName}}</span>, lets manage AEC Absences!</h2>


        <div class="panel-body">

            <div class="table-filters text-center">

                <form role="form" name="form">
                    <div class="form-group" id="data_1">
                        <label class="font-noraml">Select AEC Absence List Date</label>
                        <div class="input-group date col-md-4 col-sm-12" style="margin:0 auto">
                            <input type="datetime" class="form-control" date-time ng-model="currentDate" name="date" view="date" min-view="date" auto-close="true" format="MMM DD YYYY">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </form>
                <div class="text-center">
                    <!-- buttons and inputs -->
                    <ul class="list-group list-inline">
                        <!-- AutoComplete Input Field -->
                        <li style="width:55%">
                            <form>
                                <select chosen 
                                        class=" chosen-select form-control"
										id="refSearch"
										allow-single-deselect="true"
										data-ng-if="refTable.$resolved"
										focus-me="!!!selected.student"
                                        data-placeholder="Select or enter a student"
                                        data-ng-model="selected.student"

                                        data-ng-options="s as 
										(s.FirstName +' '+s.LastName+' '+s.student.StudentId+' '+s.student.Grade)
										for s in refTable  track by s.id"
										>
									<option value=''></option>
								</select>
								<span data-ng-if="!refTable.$resolved">
									<div class="sk-spinner sk-spinner-wave">
										<div class="sk-rect1"></div>
										<div class="sk-rect2"></div>
										<div class="sk-rect3"></div>
										<div class="sk-rect4"></div>
										<div class="sk-rect5"></div>
									</div>
								</span>
<!--								<select 

									class="chosen-select form-control"
									data-ng-if="!refTable.$resolved "
									data-placeholder="No Students For Selected Date"
									no-results-text="'No Students For Current Date'"
									>
									<option value=''></option>
								</select>-->
                            </form>
                        </li>
                        <!-- Comment Button -->
                        <li>
                            <button type="button" class="btn btn-primary" data-ng-click="openComment(selected.student)" data-ng-disabled="!selected.student">Attendance</button>
                        </li>
                        <!-- Re-Schedule Button 
                        <li>
                            <button type="button" class="btn btn-info" data-ng-click="openReschedule(selected2)" data-ng-disabled="!selected2">Re-Schedule</button>
                        </li>
						-->
                    </ul>

                </div>
            </div>

            <br />

            <!-- Table Start -->
            <div class="col-sm-12" style="float:none;margin:0 auto; " >
                <div  class="form-group">
                    <button class="btn btn-primary pull-right " style="margin-right:8px" data-ng-click="getPasses()" data-ng-disabled="reftable.length">
                        <i class="fa fa-ticket"></i> Print Passes
                    </button>
                </div>
				<div  class="form-group">
                    <button class="btn btn-primary pull-right " style="margin-right:8px" data-ng-click="AECFollowupToCSV()">
                        <i class="fa fa-download"></i> Download List
                    </button>
                </div>
				<table class="footable table table-hover table-bordered toggle-arrow-tiny" data-page-size="1000">
					<thead>
						<tr>
							<!-- <th>Teacher</th> -->
							<th data-toggle="true">First Name</th>
							<th>Last Name</th>
							<th>ID</th>
							<th>Grade</th>
							<th class="col-sm-4">Assignment</th>
							<th> Teacher</th>
							<th> Overlap </th>
							<th> Overlap Action </th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="stu in refTable track  by stu.id" 
							data-ng-click="onSelect($index)"
							data-ng-dblclick="openComment(stu, $index)"

							>
							<!-- <td> {{stu.FirstName + ', ' + stu.LastName}}</td> -->
							<td>{{stu.FirstName}}</td>
							<td>{{stu.LastName}}</td>
							<td>{{stu.student.StudentId}}</td>
							<td>{{stu.student.Grade}}</td>
							<td>
								{{stu.referred[0].assignment.Name}}
								<span data-ng-show="stu.referred.length > 1" style="font-weight:700">
									<strong>...</strong>
								</span>

								<!--								<select multiple chosen
																		class="chosen-select form-control"
																		data-ng-disabled
																		data-placeholder="Select a homework"
																		data-ng-model="stu.referred"
																		data-ng-options="a as (a.Name) for a in assignments track by a.Name">
																	<option value=''></option>
								
																</select>-->

							</td>
							<td>{{stu.referred[0].teacher.FirstName + ', ' + stu.referred[0].teacher.LastName}}</td>
							<td>{{stu.referred[0].overlap_activity.Name}}</td>
							<td>{{stu.referred[0].overlap_action.Name}}</td>
							<!--							<td>
															<label tooltip-popup-delay='300' tooltip='Were the parents notified' class="btn btn-primary ng-pristine ng-untouched ng-valid" ng-model="stu.status[0]" btn-checkbox="" data-ng-click="parentNotifiedModal(stu)"> <i class="fa fa-home"></i></label>
															<label tooltip-popup-delay='300' tooltip='Was the student notified' class="btn btn-primary ng-pristine ng-untouched ng-valid" ng-model="stu.status[1]" btn-checkbox=""><i class="fa fa-user"></i></label>
														</td>-->
							<td>{{stu.referred[0].Date.split(' ')[0]}}</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="7">
								<ul class="pagination pull-right"></ul>
							</td>
						</tr>
					</tfoot>
				</table>



			</div>
		</div>

	</div>

</section>
