<section class="wrapper wrapper-content animated fadeInRight" data-ng-controller="manageAECAbsenceController">
    <div class="panel panel-default">
        <h2 style="text-align:center"> Hello <span class="bg-primary">{{main.userName}}</span>, lets manage AEC Absences!</h2>


        <div class="panel-body">

            <div class="table-filters text-center">
                <!--
                <form name="ManageAECAbsenceForm">
                    <div>
                        <div class="row">
                            <div style="float: none; margin: 0 auto" class=" text-center  col-sm-4 ">
                                <h4>Select a Date   </h4>
                                <div class="input-group ui-datepicker">
                                    <input type="text"
                                           class="form-control"
                                           datepicker-popup="{{format}}"
                                           ng-model="dt"
                                           is-open="opened"
                                           min="minDate"
                                           max="'2015-06-22'"
                                           datepicker-options="dateOptions"
                                           date-disabled="disabled(date, mode)"
                                           ng-required="true"
                                           name="date"
                                           close-text="Close"
                                           data-ng-change="onDateChange()">

                                    <span class="input-group-addon" ng-click="open($event)"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                -->
                <form role="form" name="form">
                    <div class="form-group" id="data_1">
                        <label class="font-noraml">Select AEC Absence List Date</label>
                        <div class="input-group date col-md-4 col-sm-12" style="margin:0 auto">
                            <input type="datetime" class="form-control" date-time ng-model="currentDate" name="date" view="date" min-view="date" auto-close="true" format="MMM dd yyyy">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </form>
                <div class="text-center">
                    <!-- buttons and inputs -->
                    <ul class="list-group list-inline">
                        <!-- AutoComplete Input Field -->
                        <li style="width:55%">
                            <form>
                                <select chosen 
                                        class=" chosen-select form-control"
										allow-single-deselect="true"
										data-ng-if="refTable.$resolved && refTable.length"
                                        data-placeholder="Select or enter a student"
                                        data-ng-model="selected.student"
										
                                        data-ng-options="s as 
										(s.student_user.FirstName +' '+
										s.student_user.LastName+' '+
										s.student_user.student.StudentId+' '+
										s.student_user.student.Grade+' '+
										s.assignment.Name)
										for s in refTable  track by s.Id"
										>
									<option value=''></option>
								</select>
								<select 
								
								class="chosen-select form-control"
								data-ng-if="refTable.length == 0"
								data-placeholder="No Students For Selected Date">
									<option value=''></option>
								</select>
                            </form>
                        </li>
                        <!-- Comment Button -->
                        <li>
                            <button type="button" class="btn btn-primary" data-ng-click="openComment(selected2)" data-ng-disabled="!selected.student">Comment</button>
                        </li>
                        <!-- Re-Schedule Button 
                        <li>
                            <button type="button" class="btn btn-info" data-ng-click="openReschedule(selected2)" data-ng-disabled="!selected2">Re-Schedule</button>
                        </li>
                            -->
                    </ul>

                </div>
            </div>

            <br />

            <!-- Table Start -->
            <div class="col-sm-12" style="float:none;margin:0 auto; " >
                <div  class="form-group">
                    <button class="btn btn-primary pull-right " style="margin-right:8px" data-ng-click="generatePasses(passesTable)" data-ng-disabled="reftable.length">
                        <i class="fa fa-ticket"></i> Print Passes
                    </button>
                </div>
				<table class="footable table table-stripped table-bordered toggle-arrow-tiny" data-page-size="8">
					<thead>
						<tr>
							<th>Teacher</th>
							<th data-toggle="true">First Name</th>
							<th>Last Name</th>
							<th>ID</th>
							<th>Grade</th>
							<th class="col-sm-6">Assignment</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="stu in refTable track  by stu.Id" >
							<td> {{stu.user.FirstName + ', ' + stu.user.LastName}}</td>
							<td>{{stu.student_user.FirstName}}</td>
							<td>{{stu.student_user.LastName}}</td>
							<td>{{stu.student_user.student.StudentId}}</td>
							<td>{{stu.student_user.student.Grade}}</td>
							<td>
								{{stu.assignment.Name}}<span data-ng-show="stu.referred.length > 1" style="font-weight:700">...</span>

								<!--								<select multiple chosen
																		class="chosen-select form-control"
																		data-ng-disabled
																		data-placeholder="Select a homework"
																		data-ng-model="stu.referred"
																		data-ng-options="a as (a.Name) for a in assignments track by a.Name">
																	<option value=''></option>
								
																</select>-->

							</td>
<!--							<td>
								<label tooltip-popup-delay='300' tooltip='Were the parents notified' class="btn btn-primary ng-pristine ng-untouched ng-valid" ng-model="stu.status[0]" btn-checkbox="" data-ng-click="parentNotifiedModal(stu)"> <i class="fa fa-home"></i></label>
								<label tooltip-popup-delay='300' tooltip='Was the student notified' class="btn btn-primary ng-pristine ng-untouched ng-valid" ng-model="stu.status[1]" btn-checkbox=""><i class="fa fa-user"></i></label>
							</td>-->
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="6">
								<ul class="pagination pull-right"></ul>
							</td>
						</tr>
					</tfoot>
				</table>
               

           
            </div>
        </div>

    </div>
  
</section>
