<div class="wrapper wrapper-content animated fadeInDown" >
    <div class="row">
        <div class="col-sm-12">
            <table class="table footable  table-bordered toggle-arrow-tiny" data-page-size="1000">
                <thead>
                <tr>
                    <th>Teacher</th>
                    <th data-toggle="true">First Name</th>
                    <th>Last Name</th>
                    <th>ID</th>
                    <th>Grade</th>
                    <!--<th class="col-sm-6">Assignment</th>-->
                    <th>Overlap</th>
                    <th>Attendance</th>
                    <!--<th class="col-sm-2">Notified </th>-->
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="stu in refTable track  by stu.Id"
                    class="{{stu.overlap.class}} {{stu.status.class}} "
                >
                    <td>{{stu.referred[0].teacher.FirstName + ', ' + stu.referred[0].teacher.LastName}}</td>
                    <td>{{stu.user.FirstName}}</td>
                    <td>{{stu.user.LastName}}</td>
                    <td>{{stu.StudentId}}</td>
                    <td>{{stu.Grade}}</td>
                    <!--							<td>
                                                    {{stu.referred[0].assignment.Name}}
                                                    ,{{stu.referred[1].assignment.Name}}
                                                    , {{stu.referred[2].assignment.Name}}
                                                    <span data-ng-show="stu.referred.length > 3" style="font-weight:700">...</span>

                                                                                    <select multiple chosen
                                                                                            class="chosen-select form-control"
                                                                                            data-ng-disabled
                                                                                            data-placeholder="Select a homework"
                                                                                            data-ng-model="stu.referred"
                                                                                            data-ng-options="a as (a.Name) for a in assignments track by a.Name">
                                                                                        <option value=''></option>

                                                                                    </select>

                                                </td>-->
                    <td>{{stu.overlap.msg}}</td>
                    <td>{{stu.activity.Name}}</td>
                    <!--							<td>
                                                    <label tooltip-popup-delay='300' tooltip='Were the parents notified' class="btn btn-primary ng-pristine ng-untouched ng-valid" ng-model="stu.student.ParentNotified" btn-checkbox="" data-ng-click="parentNotifiedModal(stu)"> <i class="fa fa-home"></i></label>
                                                    <label tooltip-popup-delay='300' tooltip='Was the student notified' class="btn btn-primary ng-pristine ng-untouched ng-valid" ng-model="stu.student.Notified" btn-checkbox="" data-ng-click="submitStudentNotified(stu,$index)"><i class="fa fa-user"></i></label>
                                                </td>-->
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="7">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
                </tfoot>
            </table>

            <div class="col-md-12 text-center">
                <button style="width:25%" type="button" data-ng-click="finishManageAEC()" class="btn btn-info btn-lg">Finish</button>
            </div>
        </div>
    </div>
</div>
