<section class="wrapper wrapper-content animated fadeInRight" >
    <div class="panel panel-default">
        <h2 style="text-align:center"> Hello <span class="bg-primary">{{currentUser.FirstName + ' ' + currentUser.LastName}}</span>, lets create references!</h2>

        <div class="panel-body">
            <div class="table-filters ">
                <div class="text-center">

                    <form role="form" name="form">
                        <div class="form-group">
                            <label class="font-noraml">Select AEC List Date</label>
                            <div class="input-group date col-md-4 col-sm-12" style="margin:0 auto">

                                <input type="datetime" class="form-control" 
									   date-time ng-model="currentDate" 
									   name="date" view="date" min-view="date"
									   auto-close="true" format="MMM DD YYYY">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>

                        </div>
                    </form>

					<!-- Buttons and Inputs  <strong>'+stu.GR+ -->
                    <ul class="list-group list-inline "> 
						<li style="width:25%;" >
                            <form>

                                <select chosen
										width="'100%'"
                                        class=" chosen-select form-control"
										allow-single-deselect="true"
										data-ng-if="teachers.$resolved"
                                        data-placeholder="Select or enter a teacher"
                                        data-ng-model="selected.teacher"
										data-ng-change="onSelectedTeacher()"
                                        data-ng-options="s as 
										(s.FirstName +' '+s.LastName )
										for s in teachers  track by s.id"
										>
									<option value=''></option>
								</select>
								<select  
									multiple chosen
									class="chosen-select form-control"
									data-ng-if="!teachers.$resolved"
									data-placeholder="Loading Teachers">
								</select>

                            </form>
                        </li >
                        <li style="width:25%;" >
                            <form>

                                <select chosen
										width="'100%'"
                                        class=" chosen-select form-control"
										allow-single-deselect="true"
										data-ng-if='selected.teacher && teacherStudents.$resolved'
                                        data-placeholder="Select or enter a student"
                                        data-ng-model="selected.student"
										data-ng-change="onSelectedStudent()"
                                        data-ng-options="s as 
										(s.FirstName +' '+s.LastName+' '+s.student.StudentId+' '+s.student.Grade )
										for s in teacherStudents track by s.id "
										>
									<option value=''></option>
								</select>
                                <select  
									multiple chosen
									class="chosen-select form-control"
									data-ng-if="!selected.teacher"
									data-placeholder="Select a teacher first">
								</select>
<!--								<select  
									multiple chosen
									class="chosen-select form-control"
									data-ng-if="!teacherStudents.$resolved && selected.teacher"
									data-placeholder="Loading Teacher Students">
								</select >-->
								<span data-ng-if="!teacherStudents.$resolved && selected.teacher">
									<div class="sk-spinner sk-spinner-wave">
										<div class="sk-rect1"></div>
										<div class="sk-rect2"></div>
										<div class="sk-rect3"></div>
										<div class="sk-rect4"></div>
										<div class="sk-rect5"></div>
									</div>
								</span>
                            </form>
                        </li >
                        <!--
                        <li>
                            <button type="button" class="btn  bg-green">Add</button>
                        </li>
                        -->
						<li style="width:25%;">
                            <form>
                                <select 
									multiple chosen
									class="chosen-select form-control"
									data-ng-if="selected.teacher && teachers.$resolved"
									data-placeholder="Select an assignment"
									data-ng-model="selected.assignments"
									data-ng-options="assign as (assign.Name) for assign in  selected.teacher.assignments track by assign.Id">
									<option value=''></option>

								</select>
								<select 
									multiple chosen
									class="chosen-select form-control"
									data-ng-if="!selected.teacher"
									data-placeholder="Select a teacher first">
									<option value=''></option>
								</select>
                            </form>

                        </li>

                    </ul>

					<ul class='list-inline list-group'>

						<li class="">
							<button type="button" class="btn btn-primary" data-ng-click="addToList()" data-ng-disabled="!selected.teacher" data-ng-hide="showChecks">
								Add
							</button>
						</li>
						<li class="">
							<button type="button" class="btn btn-primary" data-ng-click="openCreateNewAssignment()" data-ng-disabled="!selected.teacher" data-ng-hide="showChecks">
								Create New Assignment
							</button>
						</li>

					</ul>
                </div>
            </div>

            <br />

            <table class="table footable table-bordered toggle-arrow-tiny" data-page-size="1000">
                <thead>
                    <tr>
						<th>Remove</th>
						<th>Teacher</th>
                        <th data-toggle="true">First Name</th>
                        <th>Last Name</th>
                        <th>ID</th>
                        <th>Grade</th>
						<th data-ng-if='currentUser.SchoolId === 1'>Student 8th Period</th>

						<th data-ng-if='currentUser.SchoolId === 2'>Student 9th Period</th>

                        <th class="col-sm-6">Assignment</th>
						<th data-ng-if='showChecks'></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="stu in refTable track  by $index">
						<td> <button data-ng-click='refTable.splice($index, 1);
								eightPeriods.splice($index, 1)'class="btn btn-primary fa fa-times"></button></td>
						<td>{{stu.teacher.FirstName + ", " + stu.teacher.LastName}}</td>
                        <td>{{stu.FirstName}}</td>
                        <td>{{stu.LastName}}</td>
                        <td>{{stu.student.StudentId}}</td>
                        <td >{{stu.student.Grade}}</td>
						<td data-ng-if='currentUser.SchoolId === 1'> 

							{{ stu.eightPeriod.professor_class.classs.Name + ' - ' + stu.eightPeriod.professor_class.room.Name}}
						</td>
						<td data-ng-if='currentUser.SchoolId === 2'> 

							{{ stu.student.classes[0].professor_class.classs.Name + ' - ' + stu.student.classes[0].professor_class.room.Name}}
						</td>
                        <td >
							<select multiple chosen
									width="'100%'"	 
									class="chosen-select form-control"
									data-ng-if="refTable"
									data-placeholder="Select a homework"
									data-ng-model="stu.referred"
									data-ng-options="a as (a.Name) for a in stu.teacher.assignments track by a.Id">
								<option value=''></option>

							</select>

                        </td>
						<td data-ng-if='showChecks'> <input type='checkbox' data-ng-model='stu.selected'></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>



            <div class="col-md-12 text-center">
                <button style="width:25%" type="button" data-ng-click='submitReferedStudents()' class="btn btn-info btn-lg">Submit</button>
            </div>


        </div>
    </div>
</section>