<section class="wrapper wrapper-content animated fadeInRight" data-ng-controller="referalController" >
    <div class="panel panel-default">
        <h2 style="text-align:center"> Hello <span class="bg-primary">Mr. Hernandez</span>, lets create references!</h2>

        <div class="panel-body">
            <div class="table-filters ">
                <div class="text-center">

                    <form role="form" name="form">
                        <div class="form-group">
                            <label class="font-noraml">Select AEC List Date</label>
                            <div class="input-group date col-md-4 col-sm-12" style="margin:0 auto">

                                <input type="datetime" class="form-control" date-time ng-model="currentDate" name="date" view="date" min-view="date" auto-close="true" format="MMM dd yyyy">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>

                        </div>
                    </form>
                    <br />
                     <!-- Buttons and Inputs  <strong>'+stu.GR+ -->
                    <ul class="list-group list-inline "> 
                        <li style="width:25%;" >
                            <form>
                                  
                                <select chosen
                                        width="'100%'"
                                        class=" chosen-select form-control"
										allow-single-deselect="true"
										data-ng-if="teacherStudents.$resolved"
                                        data-placeholder="Enter student info"
                                        data-ng-model="selected.student"
										data-ng-change="selected.student?onSelectedStudent():''"
                                        data-ng-options="s as 
											(s.user.FirstName +' '+s.user.LastName+' '+s.user.student.StudentId+' '+s.user.student.Grade )
											for s in teacherStudents  track by s.Id"
									>
											<option value=''></option>
								</select>
                                
                            </form>
                        </li >
                        <!--
                        <li>
                            <button type="button" class="btn  bg-green">Add</button>
                        </li>
                        -->
                        <li style="width:25%;">
                            <form>
                                <select 
								multiple chosen
								class="chosen-select form-control"
								data-ng-if="assignments.$resolved"
								data-placeholder="Select a homework"
								data-ng-model="selected.assignments"
								data-ng-options="assign as (assign.Name) for assign in  assignments track by assign.Id">
									<option value=''></option>
									
								</select>
                            </form>
                            
                        </li>

                        <li class="">
                            <button type="button" class="btn  btn-primary" data-ng-click="assignToAll()" data-ng-hide='showChecks'
									data-ng-disabled="!selected.assignments || selected.assignments.length ==0 || refTable.length == 0  ">Assign to All</button>
                        </li>

                        <li class="">
                            <button type="button" class="btn  btn-primary" data-ng-click="showChecks?assignSpecific2():assignSpecific()"
									data-ng-disabled="!selected.assignments || selected.assignments.length ==0 || refTable.length == 0 ">Assign{{showChecks?'':' Specific'}}</button>
                        </li>

                    </ul>
                </div>
            </div>

            <br />
            
            <table class="table footable table-bordered toggle-arrow-tiny" data-page-size="8">
                <thead>
                    <tr>
						<th>Remove</th>
                        <th data-toggle="true">First Name</th>
                        <th>Last Name</th>
                        <th>ID</th>
                        <th>Grade</th>
                        <th class="col-sm-6">Assignment</th>
						<th data-ng-if='showChecks'></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="stu in refTable track  by stu.id">
						<td> <button data-ng-click='refTable.splice($index,1)'class="btn btn-primary fa fa-times"></button></td>
                        <td>{{stu.FirstName}}</td>
                        <td>{{stu.LastName}}</td>
                        <td>{{stu.student.StudentId}}</td>
                        <td>{{stu.student.Grade}}</td>
                        <td>
                             <select multiple chosen
								class="chosen-select form-control"
								data-ng-if="assignments"
								data-placeholder="Select a homework"
								data-ng-model="stu.referred"
								data-ng-options="a as (a.Name) for a in assignments track by a.Name">
								 <option value=''></option>
								 
							 </select>

                        </td>
						<td data-ng-if='showChecks'> <input type='checkbox' data-ng-model='stu.selected'></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
            

            
            <div class="col-md-12 text-center">
                <button style="width:25%" type="button" data-ng-click='submitReferedStudents()' class="btn btn-info btn-lg">Submit</button>
            </div>


        </div>
    </div>
</section>